@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
body{
    margin: 0;
    height: 100%;
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(177, 208, 255);
}

canvas{
    color: #222;
    border: #222 dashed 2px;
    border-radius: 0.5rem;
    padding:75px;
    margin: 2rem;
  }

button{
    margin: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(80, 180, 142);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.8rem;
    outline: none;
    color: #eee;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 6px #999;
  }

button:hover {background-color:cadetblue}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

input{
      border-radius: 0.5rem;
      width: 2rem;
      outline: none;
      border: rgb(86, 10, 228) solid 1px;
  }